.about {
    flex: 1;
    margin-top: 100px;
    display: flex;
}

@media screen and (max-width:600px) {
    .about {
        flex-direction: column;
    }
}

.about img.profile-image {
    border-radius: 50%;
    margin-top: 50px;
}

.about .details {
    margin: 10px;
    font-size: 16px;
}

.about .details .para {
    margin: 15px;
    line-height: 1.5;
}

.about .details .para p {
    display: list-item;
    list-style-position: inside;
    list-style-type: square;
}

.about .details a {
    text-decoration: none !important;
}

.about .details .link-label {
    color: var(--primary);
    text-decoration: underline;
    font-weight: 700;
}

/* 

*{
    display: flex;
    flex-direction: column, row;
    justify-content: center, flex-end, flex-start;
    align-items: center, flex-start, flex-end;
    flex-wrap: wrap, nowrap;
    flex: 1, 0;
} */