.skills {
    flex: 1;
}

.card-group {
    display: flex;
    flex-wrap: wrap;
}

.card {
    display: flex;
    margin: 10px;
    border-radius: 10px;
    flex: 1 0 22%;
    justify-content: center;
}

.card img.card-image {
    width: 160px;
    height: 150px;
    margin: 15px 0px;
}

.card .card-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    min-width: 160px;
    box-shadow: 2px 2px 7px var(--primary);
    background: linear-gradient(315deg, #b19268aa,var(--secondary));
}

.card .card-container .badge {
    position: absolute;
    top: -5px;
    left: -5px;
}
.card .card-container .badge img{
    height: 65px;
    position: absolute;
}

.card .card-container .card-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.card .card-footer {
    display: flex;
    justify-content: center;
}

.card .card-footer .stars i.fa.fa-star,
.card .card-footer .stars i.fa.fa-star-half-o{
    color: gold;
}
.card .card-footer .stars i.fa.fa-star-o{
    color: var(--gray);
}


.courses table {
    border-collapse: collapse;
    width: 100%;
    box-shadow: 2px 2px 7px 0px var(--primary);
    border-radius: 15px;
    background: linear-gradient(315deg, #b19268aa,var(--secondary));
    overflow: hidden;
    border: 1px solid var(--primary);
}

.courses table th,
.courses table td {
    border: 1px solid var(--primary);
    padding: 10px;
}